In [9]:
import numpy as np
import pandas as pd
from statistics import mean 

import seaborn as sns
import scikitplot as skplt
import matplotlib.pyplot as plt


from sklearn.pipeline import Pipeline
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV

In [10]:
df=pd.read_csv("../data/card_transactions.csv")
df.head()

,customer_id,balance_account,purchases_amount,paid_advance,full_purchases,balance_frequency_update,installments,purchases_frequency,full_purchases_frequency,purchases_installments_frequency,cash_advance_frequency,nr_cash_advances,nr_purchases,credit_limit,fixed_rate_period,payments,min_payments,full_payment_prc
0,tGEg8fT2eCgVxdwS,9.298409,107.60,0.000000,0.00,0.909091,107.6,0.909091,0.000000,0.818182,0.000000,0,10,1000.0,11,89.868853,89.711672,0.428571
1,stEDu20sSKOXomjg,52.666422,150.30,0.000000,0.00,1.000000,150.3,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,6,54.722514,82.955180,0.000000
2,CEB2blrN3b88GsRe,1360.795674,0.00,462.861443,0.00,1.000000,0.0,0.000000,0.000000,0.000000,0.272727,6,0,1500.0,11,303.031979,443.781316,0.000000
3,0N0eBl8ySaZThxKE,2021.641161,363.18,0.000000,363.18,1.000000,0.0,1.000000,1.000000,0.000000,0.000000,0,13,2000.0,12,704.240770,795.859808,0.000000
4,6NLauoHUwtwOv4Wy,22.322374,95.00,1162.045833,95.00,0.363636,0.0,0.083333,0.083333,0.000000,0.166667,3,1,2500.0,12,4094.261427,40.142262,0.000000

In [ ]:
print(df.shape,len(df["customer_id"].unique()),df.dtypes,df.isna().sum())

Just some overall stats: 8500 customers, with 18 features each, indeed no duplicates, aka unique customer_id length is the same than the overall dataframe dimensions, min payment has quite a couple of NAs, so let's deal with that via imputing data maybe later on.

In [ ]:
#sns.heatmap(df.drop(columns=["customer_id"]).corr(),anotate=True)
df.drop(columns=["customer_id"]).corr().style.background_gradient(cmap='coolwarm').set_precision(2)

In [ ]:
sns.pairplot(df)

In [ ]:
sc = StandardScaler()


df_scaled= pd.DataFrame(sc.fit_transform(df.drop(columns=["customer_id"])), columns = df.drop(columns=["customer_id"]).columns)
plt.figure(figsize=(16,14))
sns.boxplot(data = df_scaled)
plt.xticks(rotation=65, horizontalalignment='right')

# KNN Imputation to remove NAs

In [11]:
import pandas as pd
from sklearn.impute import KNNImputer

In [12]:
### Numerical columns
num_feat = df.iloc[:, list(np.where(df.dtypes != "object")[0])]
num_col_name = df.iloc[:, list(np.where(df.dtypes != "object")[0])].columns

### KNN Imputer
imputer = KNNImputer(n_neighbors=5, weights="distance")
imputed = imputer.fit_transform(num_feat)

### Recreate Dataframe
df_no_na = pd.DataFrame(imputed, columns=num_col_name)
df_result = pd.concat([pd.DataFrame(df.iloc[:,0]), df_no_na], axis=1, sort=False)

df_result.isna().sum().sum()

0